<?xml version="1.0" encoding="utf-8"?>
<manifest package="mrcheng.myapplication"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- 监听网络的变化 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <!-- 设备休眠 -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!-- sd卡存储 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <!-- 摄像头 -->
    <uses-permission android:name="android.permission.CAMERA"/>
    <!-- 录音 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <!-- 通知震动 -->
    <uses-permission android:name="android.permission.VIBRATE"/>
    <application
        android:name=".BmobIMApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ChatActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".Bmob_ChatActivity"/>
        <activity android:name=".LoginActivity"/>
        <activity android:name=".RegisterActivity">

        </activity>
        <activity android:name="util.UpFileActivity"/>
        <activity android:name=".InformationActivity"/>
        <!-- bmobim start -->
        <receiver android:name="cn.bmob.newim.core.ConnectChangeReceiver">
            <intent-filter>
                <action android:name="cn.bmob.action.RECONNECT"/>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.USER_PRESENT"/>
            </intent-filter>
        </receiver>
        <service
            android:name="cn.bmob.newim.core.service.BmobIMService"
            android:process=":bmobcore"/>
        <service
            android:name="cn.bmob.newim.core.service.NotifyService"
            android:process=":bmobcore"/>
        <service android:name="cn.bmob.newim.core.service.ReConnectService"/>
        <service android:name="cn.bmob.newim.core.service.HeartBeatService"/>
        <service android:name="util.CardService"/>

        <meta-data
            android:name="Bmob_APP_KEY"
            android:value="b3c8f52b529e93d5b79c15eb51389c80"/>
    </application>

</manifest>
